@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pagina Hecha Porque Estaba Aburrido</h1>
    <h4>Aplicación hecha por Bryan Alberto Guevara Guerrero</h4>
    <h1>===========================================</h1>
    <h6>¿ahora que hago con mi vida?</h6>

</div>
